<!-- Modal -->
<div class="modal fade" id="msg-modal" tabindex="-1" role="dialog" aria-labelledby="msgmodal">
    <div class="modal-dialog modal-sm" role="document" style="margin-top:300px;">
        <div class="modal-content">
            <div class="modal-body" id="msgbody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>